.blockquote{
	font-family: Microsoft JhengHei;
	display:block;
	padding-left:25px;
	padding-right:50px;
	line-height:24px;
	margin-bottom:12px;
	margin-top:12px;
}
.blockquote::before {
	content:"";
	background-image:url("../images/lq.png");
	background-image:url("../images/slq.png");
	height: 48px;
	width: 48px;
	height: 24px;
	width: 24px;
	position: absolute;
	margin-left:-24px;
}
.blockquote::after {
	background-image:url("../images/rq.png");	
	background-image:url("../images/srq.png");	
    content: "";
	height: 48px;
	width: 48px;
	height: 24px;
	width: 24px;
	position: absolute;
	margin-left:2px;
}
